.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  &Label{
    position: relative;
  }
  &SubmitBtn{
    position: absolute;
    padding: 3.5px 4px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
  }
  &Input{
    border: 0;
    border-radius: 15px;
    height: 25px;
    width: 250px;
    outline: none;
    padding-left: 30px;
  }
}
