.weather {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  transition: transform 0.5s ease;
  transform: translateX(30px);
  &Wind {
    width: 10px;
    height: 10px;
    background-image: url('../../images/wind.png');
    background-size: cover;
  }
  &Humidity {
    width: 10px;
    height: 10px;
    background-image: url('../../images/humidity.png');
    background-size: cover;
  }
  &Pressure {
    width: 10px;
    height: 10px;
    background-image: url('../../images/barometer.png');
    background-size: cover;
  }
  &Details {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &Detail {
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
    width: 50px;
    &Value {
      color: #a3a3a3;
      font-size: 8px;
      margin: 0;
    }
  }
  &MoreInfo {
    display: flex;
    gap: 10px;
    width: 558px;
    overflow-x: scroll;
    padding-bottom: 10px;
    &Box {
      width: 80px;
      border: 1px solid #7d7d7d8a;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 20px;
      &:hover{
        background-color: #7d7d7d8a;
      }
    }
    &Time {
      color: #a3a3a3;
      font-size: 10px;
    }
    &Temp {
      color: #ff3c00;
    }
  }
  &MoreInfoButton {
    text-decoration: underline;
    color: #a3a3a3;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    font-size: 10px;
  }
  &Date {
    color: #fff;
    font-size: 12px;
  }
  &Weekday {
    font-size: 10px;
    color: #a3a3a3;
    font-weight: 300;
  }
  &5daysData {
    display: flex;
    gap: 10px;
    &Item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 77px;
      padding: 5px;
    }
  }
  &Items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform 1s ease;
    &5days {
      display: flex;
      flex-direction: column;
      gap: 15px;
      transition: transform 1s ease;
      transform: translateX(calc(-50vw + 245px));
    }
  }
  &Box {
    background-color: #0d0045;
    width: 330px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;
    box-shadow: 3px -7px 24px 0px rgba(66, 68, 90, 1);
    margin-left: 30px;
    transition: width 500ms ease;
    &5days {
      background-color: #0d0045;
      margin-top: 30px;
      margin-left: 30px;
      width: 500px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 20px 30px;
      box-shadow: 3px -7px 24px 0px rgba(66, 68, 90, 1);
      height: 210px;
      transition: width, height 500ms ease;
      &MoreInfo {
        background-color: #0d0045;
        margin-top: 30px;
        margin-left: 30px;
        width: 500px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 30px;
        box-shadow: 3px -7px 24px 0px rgba(66, 68, 90, 1);
        height: 400px;
        transition: width, height 500ms ease;
      }
    }
  }
  &Header {
    font-size: 10px;
    color: #a3a3a3;
    font-weight: 300;
  }
  &Temp {
    font-size: 45px;
    margin: 0;
    color: #ff3c00;
  }
  &Temperatures {
    display: flex;
    align-items: center;
  }
  &MinTemp {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  &MaxTemp {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  &TempLabel {
    color: #a3a3a3;
    font-size: 10px;
    margin: 0;
  }
  &TempValue {
    color: #ff3c00;
    margin: 5px 0;
  }
  &Line {
    width: 1px;
    height: 30px;
    background-color: #8484842d;
    border-radius: 100%;
  }
  &Buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  &Button {
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.7;
    width: 100px;
    font-size: 10px;
    padding: 3px 0;
    transition: opacity 500ms ease;
    &Active {
      border: 0;
      border-radius: 10px;
      background-color: #fff;
      width: 100px;
      font-size: 10px;
      padding: 3px 0;
      transition: opacity 500ms ease;
    }
  }
}

