.DateSection{
    display: flex;
    justify-content: space-between;
}

.dateBox{
    display: flex;
    flex-direction: column;
    width: 40vw;
    box-sizing: border-box;
    background-color: #0d00457e;
    padding: 50px;
    border-radius: 0 30px 0 0;
    &Header{
        margin: 0;
        color: #fff;
        font-size: 40px;
        font-weight: 300;
    }
    &Details{
        display: flex;
        margin-top: 15px;
    }
    &Detail{
        padding: 0 10px;
        margin: 0;
        color: #fff;
        font-size: 10px;
        display: flex;
        align-items: center;
        
        &Box{
            display: flex;
            padding-left: 10px;
        }
    }
}